

.img {
    width: 100px;
    height: 100px
}
.link{
    color:red
}

}
.link1 {
    color:blue
}

.link2{
    color:green
}
.textbox {
    height: 30px;
    width: 200px;
}


.firestarters
{
   
    color:red

}
.waterstarters {
    color: blue
}
.grassstarters {
    color: green
}